<footer class="footer">
  <div class="footer-container">


    <div class="footer-col">
      <a href="#" class="footer-logo">
        <img id="footerLogo" src="images/logo-light.png" alt="GripCore Logo" />
      </a>

      <p>
        GripCore is your trusted destination for premium tyres, precision wheel
        alignment, wheel balancing, and complete automotive care. We deliver
        quality, safety, and reliability with every service.
      </p>

      <div class="social-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>

        <a href="#"><i class="fab fa-instagram"></i></a>

        <a href="#"><i class="fab fa-x-twitter"></i></a>

        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>



    <div class="footer-col">
      <h3>Quick Links</h3>

      <ul>
        <li><a href="index.html">Home</a></li>

        <li><a href="about.html">About Us</a></li>

        <li><a href="service.html">Services</a></li>

        <li><a href="blog.html">Blog</a></li>

        <li><a href="pricing.html">Pricing</a></li>



        <li><a href="contact.html">Contact</a></li> 
      </ul>
    </div>


    <div class="footer-col">
      <h3>Our Services</h3>

      <ul>
        <li><a href="servicedetails.html">Wheel Alignment</a></li>

        <li><a href="servicedetails.html">Wheel Balancing</a></li>

        <li><a href="servicedetails.html">Tyre Replacement</a></li>

        <li><a href="servicedetails.html">Puncture Repair</a></li>

        <li><a href="servicedetails.html">Nitrogen Filling</a></li>

        <li><a href="servicedetails.html">Brake Inspection</a></li>
      </ul>
    </div>


    <div class="footer-col">
      <h3>Contact Info</h3>

      <p>
        <i class="fa-solid fa-location-dot"></i> Hyderabad, Telangana, India
      </p>

      <p><i class="fa-solid fa-phone"></i> +91 98765 43210</p>

      <p><i class="fa-solid fa-envelope"></i> info@gripcore.com</p>

      <p><i class="fa-solid fa-clock"></i> Mon - Sat : 9:00 AM - 8:00 PM</p>

      <li><a href="404.html">404 Page</a></li>
      
          <li><a href="comingsoon.html">Coming Soon</a></li>
    </div>
  </div>

  <div class="footer-bottom">
    <p class="copyright">© 2026 GripCore. All Rights Reserved.</p>

    <div class="footer-bottom-links">
      <a href="privacy.html">Privacy Policy</a>
      <span>|</span>
      <a href="terms&conditions.html">Terms & Conditions</a>
      <span>|</span>
      <a href="cookies.html">Cookies Policy</a>
    </div>
  </div>
</footer>
