<header>
  <nav class="navbar">
    <!-- LOGO -->
    <a href="index.html" class="logo">
      <img id="headerLogo" src="images/logo-light.png" alt="GripCore Logo" />
    </a>

    <!-- MAIN NAVIGATION -->
    <ul class="menu">
      <li class="dropdown">
        <a href="index.html">
          Home
          <i class="fa-solid fa-chevron-down"></i>
        </a>

        <ul class="dropdown-menu">
          <li><a href="index.html">Home 1</a></li>
          <li><a href="index2.html">Home 2</a></li>
        </ul>
      </li>

      <li>
        <a href="about.html">About</a>
      </li>

      <li>
        <a href="service.html">Services</a>
      </li>

      <li>
        <a href="blog.html">Blog</a>
      </li>

      <li>
        <a href="pricing.html">Pricing</a>
      </li>

      <li>
        <a href="contact.html">Contact</a>
      </li>

      <!-- MOBILE LOGIN -->
      <li class="mobile-login">
        <a href="login.html" class="mobile-login-btn">
          <i data-lucide="log-in"></i>
          Login
        </a>
      </li>
    </ul>

    <!-- RIGHT SIDE BUTTONS -->
    <div class="right-menu">
      <!-- RTL -->
      <button id="rtlBtn" class="icon-btn" title="RTL Mode">
        
      </button>

      <!-- DARK MODE -->
      <button id="darkModeBtn" class="icon-btn" title="Dark Mode">
        <i class="fa-solid fa-cloud-moon"></i>
      </button>

      <!-- DESKTOP LOGIN -->
      <a href="login.html" class="login"> Login </a>

      <!-- MOBILE MENU -->
      <button class="menu-btn" id="menuToggle" type="button">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>
  </nav>
</header>
