<header>
  <nav class="navbar">

    <a href="index.html" class="logo">
      <img
        id="headerLogo"
        src="images/logo-light.png"
        alt="GripCore Logo"
      />
    </a>

    <ul class="menu">

      <li class="dropdown">
        <a href="index.html">
          Home
          <i class="fa-solid fa-chevron-down"></i>
        </a>

        <ul class="dropdown-menu">
          <li>
            <a href="index.html">Home 1</a>
          </li>

          <li>
            <a href="index2.html">Home 2</a>
          </li>
        </ul>
      </li>


      <li>
        <a href="about.html">About</a>
      </li>

      <li>
        <a href="service.html">Services</a>
      </li>

      <li>
        <a href="blog.html">Blog</a>
      </li>

      <li>
        <a href="pricing.html">Pricing</a>
      </li>

      <li>
        <a href="contact.html">Contact</a>
      </li>


      <li class="mobile-service">
        <a
          href="bookappointment.html"
          class="mobile-service-btn"
        >
          <i data-lucide="calendar-check"></i>
          Book a Service
        </a>
      </li>

    </ul>


    <div class="right-menu">


      <button
        id="rtlBtn"
        class="icon-btn"
        type="button"
        title="RTL Mode"
        aria-label="Toggle RTL mode"
      >
        <i class="fa-solid fa-right-left"></i>
      </button>


      <button
        id="darkModeBtn"
        class="icon-btn"
        type="button"
        title="Dark Mode"
        aria-label="Toggle dark mode"
      >
        <i class="fa-solid fa-moon"></i>
      </button>


      <a
        href="bookappointment.html"
        class="navbar-service-btn"
      >
        <i class="fa-solid fa-calendar-check"></i>
        Book a Service
      </a>


      <button
        class="menu-btn"
        id="menuToggle"
        type="button"
        aria-label="Open navigation menu"
      >
        <i class="fa-solid fa-bars"></i>
      </button>

    </div>

  </nav>
</header>
