<header>
  <nav class="navbar">
    <a href="#" class="logo">
      <img id="headerLogo" src="images/logo-light.png" alt="GripCore Logo" />
    </a>

    <!-- <a href="#" class="logo"> Grip<span>Core</span> </a> -->

    <ul class="menu">
      <li class="dropdown">
        <a href="#"> Home <i class="fa-solid fa-chevron-down"></i> </a>

        <ul class="dropdown-menu">
          <li><a href="index.html">Home 1</a></li>
          <li><a href="index2.html">Home 2</a></li>
        </ul>
      </li>
      <li><a href="about.html">About</a></li>
      <li><a href="service.html">Services</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="pricing.html">pricing</a></li>
       <li><a href="contact.html">contact</a></li> 
    </ul>

    <div class="right-menu">
      <button id="rtlBtn" class="icon-btn" title="RTL Mode">
        <i class="fa-solid fa-right-left"></i>
      </button>

      <button id="darkModeBtn" class="icon-btn">
        <i class="fa-solid fa-cloud-moon"></i>
      </button>

      
    <a href="login.html" class="login">
  <i data-lucide="log-in"></i>
  Login
</a>

      <button class="menu-btn">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>
  </nav>
</header>